body{

margin:0;
font-family:Poppins,sans-serif;
background:linear-gradient(135deg,#e6f9ec,#ffffff);
overflow-x:hidden;

}

.center{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

}

.card{

background:white;
padding:25px;
border-radius:16px;
width:90%;
max-width:420px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.12);

}

.mission{

background:#f4f6f8;
padding:12px;
border-radius:10px;
margin:15px 0;
text-align:left;

}

button{

width:100%;
padding:13px;
margin-top:10px;
border:none;
border-radius:10px;
font-size:16px;
cursor:pointer;
transition:0.25s;

}

button:hover{

transform:scale(1.05);

}

.approve{

background:#2ecc71;
color:white;

}

.deny{

background:#ff4d4d;
color:white;

}

input{

width:100%;
padding:12px;
border-radius:10px;
border:1px solid #ccc;
margin-top:10px;
font-size:16px;

}

.certificate{

background:white;
padding:30px;
border-radius:16px;
text-align:center;
width:90%;
max-width:500px;
box-shadow:0 10px 30px rgba(0,0,0,0.15);

}